/* I made all pixel art on https://lospec.com/ */
body
{
    background-color: #30f492;
    cursor: url('/assets/media/frog_regular.png'), auto;
}

.inner-body
{
    background-color: aliceblue;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 5%;
    padding: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 2%;
}

.dropdown ul
{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
}

.dropdown li
{
    padding: 10px;
    position: relative;
}

.dropdown .dropped
{
    position: absolute;
    top: 100%;
    left: 0%;
    display:none;
}

.dropdown
{
    background-color: #92e4bb;
    margin-bottom: 1%;   
}
.dropdown li:hover
{
    background-color: #66dba0;
    cursor:pointer;
    cursor: url('/assets/media/frog_hover.png'), auto;
}

.dropdown li:hover .dropped
{
    display: block;
    width:300%;
    background-color: #52d18f;
    cursor: pointer;
    cursor: url('/assets/media/frog_hover.png'), auto;
}

a:link 
{
    color: red;
    cursor: url('/assets/media/frog_hover.png'), auto;
}
  
a:visited 
{
    color: green;
    cursor: url('/assets/media/frog_hover.png'), auto;
}
  
a:hover 
{
    color: hotpink;
    cursor: url('/assets/media/frog_hover.png'), auto;
}

a:active 
{
    color: blue;
    cursor: url('/assets/media/frog_hover.png'), auto;
}

footer
{
    border: dotted #92e4bb 5px;
    padding: 1%;
    margin-top: 1%;
}