/* I made all pixel art on https://lospec.com/ */
body
{
    background-color: #92e4bb;
    cursor: url('/assets/media/frog_regular.png'), auto;
    text-align: center;
}

.inner-body
{
    background-color: aliceblue;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 5%;
    padding: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-top: 2%;
}

.content
{
    margin-left: 4%;
    margin-right: 4%;
}

h1
{
    color: #c86fbc;
    font-weight: bolder;
}

h2
{
    color: #c86fbc;
    font-weight: bold;
}

.dropdown ul
{
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-around;
}

.dropdown li
{
    padding: 10px;
    position: relative;
}

.dropdown .dropped
{
    position: absolute;
    top: 100%;
    left: -50%;
    display:none;
}

.dropdown
{
    background-color: #92e4bb;
    margin-bottom: 1%;   
    color: #c878bd;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.dropdown li:hover
{
    background-color: #66dba0;
    cursor: url('/assets/media/frog_hover.png'), auto;
}

.dropdown li:hover .dropped
{
    display: block;
    width:200%;
    background-color: #52d18f;
    cursor: url('/assets/media/frog_hover.png'), auto;
}

a:link 
{
    text-decoration: none;
    color: #c878bd;
    cursor: url('/assets/media/frog_hover.png'), auto;
}
  
a:visited 
{
    text-decoration: none;
    color: #c86fbc;
    cursor: url('/assets/media/frog_hover.png'), auto;
}
  
a:hover 
{
    text-decoration: none;
    color: #c878bd;
    cursor: url('/assets/media/frog_hover.png'), auto;
}

a:active 
{
    text-decoration: none;
    color: #ba32a8;
    cursor: url('/assets/media/frog_hover.png'), auto;
}

footer
{
    border: dotted #92e4bb 10px;
    padding: 1%;
    margin-top: 1%;
}

@media screen and (max-width: 480px) 
{
    .dropdown li:hover .dropped
    {
        width: 100%;
    }

    .dropdown .dropped
    {
        left: 0%;
    }

    footer
    {
        border: dotted #92e4bb 5px;
    }

    .inner-body
    {
        border-radius: 0%;
    }

    .dropdown
    {
        font-size: large;
    }
}